
<div class="background-home">
            
            <div class="buttons-home">
                <a class="buttons-nav" href="/register">
                <button class="signup-btn" type="button">Registrate</button>
                </a>
                <a class="buttons-nav" href="/login">
                <button class="signup-btn" type="button" id="login"><span class="cover"></span>Inicia sesión</button>
                </a>
            </div>
        </div>

</div>