<div class="background-login">
    <div class="container-register">
        <form id="login-form" action="/login" method="POST">
            <div class="mb-3">
                <label for="exampleInputemail" class="form-label">Email</label>
                <input type="text" class="form-control" id="exampleInputemail" name="email" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="signup-btn2">Iniciar sesión</button>
            <button class="signup-btn2"><a href="/register">Registrate</a></button>
            <div class="mb-3">
                <button class="signup-btn2"><a href="/api/email/request-reset-password">¿Restablecer contraseña?</a></button>
            </div>
        </form>

        <div class="btn-git">
            <button type="button" class="lg-ui-button-0000 leafygreen-ui-1c87knv css-1j7yzl5" aria-disabled="false">
                <div class="leafygreen-ui-v038xi"></div>
                <div class="leafygreen-ui-16tr4y">
                    <div class="css-dw6a9n e5i1odf0">
                        <svg width="52" height="52" viewBox="0 0 52 52" display="inline-block" role="img">
                            <title>GitHub's Logo</title>
                            <g transform="translate(13.055555555555555, 11.555555555555555) scale(1.1818181818181819)">
                                <path fill="#001E2B" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.0651 0.0986328C5.43944 0.0986328 0.0661621 5.47118 0.0661621 12.099C0.0661621 17.4008 3.5042 21.8982 8.27268 23.485C8.87306 23.5955 9.09185 23.2249 9.09185 22.9067C9.09185 22.6223 9.08154 21.8673 9.07564 20.8661C5.73779 21.591 5.03353 19.2572 5.03353 19.2572C4.48766 17.8708 3.70089 17.5017 3.70089 17.5017C2.61135 16.7577 3.7834 16.7724 3.7834 16.7724C4.98785 16.8572 5.62139 18.0093 5.62139 18.0093C6.69177 19.8429 8.43032 19.3132 9.11395 19.006C9.22298 18.2311 9.53312 17.7021 9.87567 17.4023C7.21113 17.0995 4.40957 16.0697 4.40957 11.4714C4.40957 10.1616 4.87736 9.0897 5.64497 8.25137C5.52121 7.94786 5.1094 6.7272 5.76283 5.07558C5.76283 5.07558 6.76986 4.75292 9.06238 6.30582C10.0193 6.03915 11.0462 5.90655 12.0665 5.90139C13.0861 5.90655 14.1123 6.03915 15.0707 6.30582C17.3617 4.75292 18.3673 5.07558 18.3673 5.07558C19.0222 6.7272 18.6104 7.94786 18.4874 8.25137C19.2564 9.0897 19.7211 10.1616 19.7211 11.4714C19.7211 16.0811 16.9122 17.0957 14.236 17.3936C14.6688 17.7565 15.0574 18.4917 15.0574 19.6031C15.0574 21.2085 15.0422 22.5093 15.0422 22.9067C15.0422 23.2297 15.2573 23.6046 15.8681 23.4846C20.6341 21.8966 24.0662 17.4011 24.0662 12.099C24.0662 5.47118 18.6929 0.0986328 12.0651 0.0986328Z">
                                </path>
                            </g>
                        </svg>
                    <a class="css-17a2lzp e5i1odf0" href="/api/sessions/github">Sign with GitHub</a>
                    </div>

                </div>
            </button>
        </div>
    </div>
</div>
        {{#if error}}
        <div class="alert alert-danger cssalert" role="alert">
            {{error}}
        </div>
        {{/if}}
    </div>
</div>

</div>
<script>setTimeout(()=> {
    document.querySelector('.alert-danger').style.display='none';},1000);
</script>
