

<form class="formcont" action="/api/email/reset-password" method="POST">
    <input type="hidden" name="token" value="{{token}}">
    <div>
        <label for="newPassword">Nueva contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <button type="submit">Restablecer contraseña</button>
</form>