


<div class="container filters">
    <div class="buttonFeilter">
        <div class="container-saludo">
        <h5 class="saludos1">Usuario: {{user.first_name}}</h5>
     <h5 class="saludos1">Rol: {{user.rol}} </h5>
        </div>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filtros</button>
    </div>
</div>

